<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/mystyle.css">

    <title>Feed ME!</title>
</head>
<body>

    <button onclick="showAlert()" class="start">Feed Me!</button>
    <button class="market">M</button> 

    <div id="chicken" class="idle"></div> 
    <div class="platform"></div>
    

    <script src="/public/javascript/javascript.js"></script>
</body>
</html>